body {
	background-color:#eeeeee;
	color:#333;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;	
}

.code {
	font-family:'Lucida Console', Monaco, monospace;
}

ul {
	list-style:none;
}